* { margin: 0; padding: 0; box-sizing: border-box; }

::selection {
  color: #FFF;
  background: #000;
}

body {
  font-family: sans-serif;
}

.form-chat { background: #000; padding: 3px; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
.list { list-style-type: none; margin: 0; padding: 0; }
.list-messages li { padding: 5px 10px; }
.list-messages li:nth-child(odd) { background: #eee; }

#connectedUsers { position: absolute; top: 5px; right: 5px; z-index: 20; }

.text-bold { font-weight: bold; }

.flex-container {
  display: flex;
}

.flex-container--filler {
  min-height: 100vh;
}

.flex-container--column {
  flex-direction: column;
}

.flex-container--row {
  flex-direction: row;
}

.flex-item--filler {
  flex: 1;
}

.btn {
  border: 0;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-primary {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
}

.btn.btn-primary:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
